[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
matplotlib = "*"
pygithub = "*"
requests = "*"
pandas = "*"
python-dotenv = "*"
altair = "*"
altair-viewer = "*"
vega = "*"
vega-datasets = "*"

[dev-packages]

[requires]
python_version = "3.9"
